body{
	font-family:"Microsoft YaHei","lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:12px;
	position:relative;
}
img {
	border:0px;
}
ul,ol{
	margin:10px 0px 10px 10px;
	padding:0px 0px 10px 10px;
}
ul li, ol li {
    line-height: 1.6em;
}
a:link{
	color: #444;
	text-decoration: none;
	font-weight: bold;
}
a:visited{
	color: #444;
	text-decoration: none;
}
a:hover{
	color: #000000;
	text-decoration: underline;
}

h1 {
	font-size: 16px;margin:0px 0px 15px 0px;
}
h2,h3,h4,{	font-size:15px;margin-bottom:15px;}
h5,h6{
	font-size: 13px;
	margin:0px 0px 15px 0px;
}
p{font-size: 13px;line-height: 1.6em;margin-bottom: 16px;}
input[type=button], input[type=submit] {
	padding: 2px 8px !important;
	border: 1px solid #bbb;
	border-radius: 5px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
	cursor:pointer;
	color: #464646;
}
input[type=button]:hover, input[type=submit]:hover {
	color: #000;
	border-color: #669966;
}
input[type=text],input[type=password]{
	border:1px #999999 solid;
	border-top:1px #669966 solid;
	background-color:#F2F2F2;
	padding:5px;
	border-radius:5px;
}

input[type=text]:focus,input[type=checkbox]:focus,input[type=password]:focus,select:focus,textarea:focus{
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(125, 125, 125, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(125, 125, 125, 0.6);
}
table {
	width:100%;
}
textarea{
	border:1px #cccccc solid;
	padding:5px;
	width:95%;
	height:300px;
	border-radius:5px;
	border-top:1px #669966 solid;
}
blockquote{
    background-color: #FCFCFC;
    border-left: 3px solid #CCCCCC;
    margin: 10px;
    padding: 10px;
}
fieldset{
	padding:2px;
	border:1px dotted #ccc;
	border-radius:5px;
	margin-bottom:15px;
}
fieldset:hover{
	border:1px solid #ccc;
}
fieldset legend{
	line-height:16px;
}
fieldset p{
	margin:5px 0px;
}
.entry_section{
	margin:15px 0px;
}
.entry_section h4{
	background-color: #F9F9F9;
    border-radius: 5px;
    font-size: 18px;
    margin: 0;
    padding: 5px;
}
.post_info{
	overflow: hidden;
	padding: 4px 2px;
	word-wrap: break-word;
}
.entry_list a:link{
	color: #696969;
}
.entry_list li{
    list-style:square;
	padding:0px;
}
#div_center{
	width:985px;
	margin-left:auto;
	margin-right:auto;
	padding:0 5px 10px 5px;
	background-color:#fff;
	min-height:500px;
}

#div_top {
	width:985px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	padding:0 5px 10px 5px;
}
#top_image{
	width:30%;
	float:left;
}
#top_word{
	width:69%;
	float:left;
	line-height:50px;
	text-align:center;
}
#div_left{
	float:right;
	width:235px;
	margin:0px;
	border-left:1px dotted #E6E8EB;
	padding:0px 0px 0px 10px;
	word-wrap:break-word; 
	overflow:hidden;
}
#div_right{
	float:left;
	width:730px;
	overflow:hidden;
}
#div_right img{
	max-width:730px;
	width:expression(this.width > 730 ? 730: true);
	height:auto !important;
}
#nav{
	padding:5px;
	margin:5px 0px;
	text-align:right;
	border-bottom:1px solid #e4e4e4;
}
.div_clear{
	clear:both;
	height:0px;
}
.div_line{
	clear:both;
	height:5px;
	line-height:5px;
	margin:5px 0px 4px 0px;
	border-bottom:1px solid #ccc;
}
#div_foot{
	width:96%;
	margin:0px auto;
	height:20px;
	line-height:20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
	font-family:arial;
	background-color:#E6E8EB;
}
#div_foot a:link{
	color: #339900;
	text-decoration: none;
}
#div_foot a:visited{
	color: #339900;
	text-decoration: none;
}
#div_foot a:hover{
	color: #339900;
	text-decoration: underline;
}

.blog_title{
	margin:5px 0px;
	padding:5px;
	background-color:#f9f9f9;
	border-radius:5px;
	font-size:18px;
}
.blog_text{
	margin:5px 0px;
}
.ggad{
	padding:5px;
	margin:5px 0px;
}
.blog_info{
	font-size:14px;
	margin-bottom:5px;
	border:1px #ccc solid;
	line-height:18px;
}
#tags{
	padding:2px;
	margin-top:2px;
	word-wrap:break-word; 
	overflow:hidden;
}
.tags_middle{
	font-size:18px;
}
.tags_big{
	font-size:30px;
	font-family:Georgia,arial,sans-serif;
}
#relate_entry{
	padding:5px 0px;
}
#relate_entry ol{
	margin:10px 0px 10px 20px;
}
#relate_entry li{
	padding:2px;
	border-bottom:1px dotted #99CC00;
	margin-top:2px;
}
#sitemap li{
	padding:2px;
	border-bottom:1px dotted #99CC00;
	margin-top:2px;
	font-family:Georgia,Verdana,arial,sans-serif;
}
.sitemap_date{
	color:#996600;
}
.comment_text{
	border:1px #999999 solid;
	background-color:#F2F2F2;
	border-radius:5px;
	width:95%;
	height:120px;
}
.comment_input{
	width:200px;
	height:30px;
}
#comment_body{
	line-height:30px;
}
#comment_body li{
	list-style-type:none;
	margin:0px 5px;
}
#comment{
	padding:5px;
	margin:5px 0px;
}
#comment_list{
	padding:5px;
	margin:5px 0px;
	border-radius:3px;
	font-family:Georgia,arial,sans-serif;
}
#comment_list fieldset{
	padding:5px;
}
#comment_list fieldset legend{
	padding:0px 10px;
}
#comment_list img{
	max-width:700px;
	width:expression(this.width > 700 ? 700: true);
}
.entry_info{
	text-align:right;
	margin-bottom:5px;
}
#action_tip{
	background-color:#FFFBCC;
}
#PageList{
	margin:2px;
}
#PageList a{
	padding:0px 2px;
	font-family:Georgia,arial,sans-serif;
	padding:5px;
	border:1px solid #c8c8c8;
	margin:2px;
}
#PageList a:hover{
	font-weight:bold;
}
#PageList .pageCurrent{
	font-weight:bold;
	background-color:#690;
	color:#fff;
}
.attachment{
	background:url("../../../images/action_icon.png") no-repeat scroll -75px -2px transparent;
	float:left;
	height:20px;
	overflow:hidden;
	width:20px;
	margin:0px 2px;
}
#submit_button{
	cursor: pointer;
}
#comment_content{
	margin:10px 0px;
	padding:5px;
}
.readmore{
	cursor:pointer;
	color:#888;
}
.list_info{
	color:#555;
}
.list_info p{
	margin:2px 0px;
}
.list_date{
	width:40%;
	float:left;
	font-size:10px;
}
.list_views{
	width:40%;
	float:right;
	text-align:right;
	font-size:10px;
}
#captcha{
	cursor:pointer;
}

.app_fields{padding:10px;}
.app_fields textarea{height:150px;}
.app_div input[type=file],.app_div input[type=button],.app_div input[type=text],.app_div input[type=submit],.app_div select{height:25px;line-height:25px;}
.app_div{min-height:25px;line-height:25px;}
.backtotop{position:absolute;right:10px;cursor:pointer;width:50px;height:50px;background-color:#fafafa;line-height:50px;text-align:center;}
.backtotop:hover{background-color:#afafaf;color:#fff;}

@media (max-width: 1020px){
	#div_center,#div_top,#div_foot{width:96%;}
	#div_right{width:100%;}
	#div_left{display:none;}
	#div_right img{
		max-width:100%;
		height:auto;
	}
}

@media (max-width: 640px){
	#div_foot select{display:none;}
	#top_image{float:none;width:100%;}
	#top_word{float:none;width:100%;}
	.app_div input[type=file]{max-width:200px;}
}